@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-position: -80% 190%, 160% -125%;
    background-repeat: no-repeat, no-repeat;
    font-family: 'Kumbh Sans';
    background-color: hsl(185, 75%, 39%);
    text-align: center;
}

#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

h3 span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

p, h4 {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

h4 {
    font-size: 14px;
}

p {
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1.5px;
}

hr {
    margin: 20px 0 0; 
    border-color: hsl(0, 0%, 90%);
}

/* Card Images */

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profile-image {
    border: 5px solid #fff;
    border-radius: 100%;
}

/* Card Contents */

.card {
    width: 320px;
    height: 340px;
    border-radius: 15px;
    background-color: #fff;
    position: absolute;
}

.card-body {
    padding: 0;
}

.contents, .profile-image {
    position: relative;
    bottom: 55px;
}

/* Statistics */

.stats-section {
    padding: 20px 30px;
    position: relative;
    bottom: 20px;
}

/* Media Query */

@media (max-width: 900px) {
    body {
        background-position: 140% 190%, -40% -100%;
    }
}